@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.course-h1 {
  color:#302a92;
  font-weight: 600;
  margin-bottom: 0px;
}

.flex-container {
    display: flex;
    overflow: hidden;
}

.flex-container-courses {
    height: 445px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 30px;
    overflow: auto;
    position: relative;
    justify-content: flex-start;
    align-content: flex-start;
}

/* Based on  https://jsfiddle.net/hP3wu/12/ from answer posted in a Stackoverflow question: 
https://stackoverflow.com/questions/17044284/css-faded-section-at-top-of-scrolling-div*/
.flex-container-courses-fadetop {
    content:'';
    margin-top: -455px;
    height: 20px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(251, 251, 251, 0) 100%);
    position: relative;
}

.flex-container-courses-fadebottom {
    content:'';
    margin-top: 415px;
    height: 20px;
    background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(251, 251, 251, 0) 100%);
    position: relative;
}

.coursebg {
    margin: 0 0 0 20px;
    background-color: #ffffff;
    height: 550px;
    width: 1100px;
    border-radius: 30px;
}

.course-heading {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

/* Modal element based on https://codepen.io/denic/pen/ZEbKgPp (by Marko Denic) */
.course-modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}
  
.course-modal:target {
  visibility: visible;
  opacity: 1;
}
  
.course-modal-content {
  border-radius: 20px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.course-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #585858;
  text-decoration: none;
  font-size: 200%;
}

.createcourse-btn {
    height: 130px;
    width: 180px;
    padding: 10px 20px;
    margin: 5px;
    border: 3px solid #302a92;
    border-radius: 10px;
    background: #ffffff;
    color: #302a92;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    appearance: button;
    display: flex;
    align-items: center;
    order: 99;
}

.createcourse-btn:hover {
    transform: scale(0.98);
}

.createcourse-a {
    color:#302a92;
    font-weight: 600;
    font-size: x-large;
}

.course-form {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.course-btn {
    height: 130px;
    width: 180px;
    margin: 5px;
    border: 1px solid #302a92;
    border-radius: 10px;
    background: linear-gradient(0deg, #ffffff 35%, #384694 35%);
    color: #384694;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: left;
}

.course-a {
    padding: 10px 10px 0;
    color:#302a92;
    font-weight: 700;
    font-size: 18px;
    line-height: 135px;
    cursor: pointer;
}

.course-a:hover {
    text-decoration: underline;
}

.rename-a {
  color:#302a92;
  font-weight: 700;
  font-size: 16px;
  line-height: 135px;
  cursor: pointer;  
}

.deletecourse{
  padding-left: 155px;
  border: 0px;
  border-radius: 5px;
  background: #ffffff00;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  appearance: button;
  display: flex;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #302a92;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelbtn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}