.gradebg {
  margin: 0 0 0 20px;
  background-color: #ffffff;
  height: 550px;
  width: 1100px;
  border-radius: 30px;
}
  
/* Remove margins and padding from the list */
.grade {
  margin-left: 160px;
  margin-right: 160px;
}

.grade-heading {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.grade-h1 {
  color:#302a92;
  font-weight: 600;
  margin-bottom: 0px;
}

.grade-coursename {
  color:#302a92;
  width: 770px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  border-style: solid;
  border-width: 3px;
  border-top: #ffffff00;
  border-left: #ffffff00;
  border-right: #ffffff00;
}

.grade-total {
  color:#302a92;
  width: 200px;
  padding-right: 30px;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  border-style: solid;
  border-width: 3px;
  border-top: #ffffff00;
  border-left: #ffffff00;
  border-right: #ffffff00;
}

.grade-name-li {
  position: relative;
  width: 770px;
  padding: 10px 30px;
  list-style-type: none;
  color: #302a92;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  overflow-wrap: break-word;
  border-bottom:solid #9490ddd3;
  text-align: left;
  line-height: 35px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grade-total-li {
  position: relative;
  width: 200px;
  padding: 10px 30px;
  list-style-type: none;
  color: #302a92;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  overflow-wrap: break-word;
  border-bottom:solid #9490ddd3;
  text-align: right;
  line-height: 35px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style the close button */
.delete_grade {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: #f4433600;
  padding: 12px 16px 12px 16px;
  width: 60px;
  cursor: pointer;
}

.delete_grade:hover {
  background-color: #f44336;
  color: white;
}

input[type=grades-text] {
  margin: 0;
  border: 1px solid #000;
  border-radius: 5px;
  width: 75%;
  float: left;
  font-size: 16px;
}

.addgrade_btn {
  padding: 0px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #302a92;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 24%;
  height: 45px;
  margin-left: 1%;
}

.addgrade_btn:hover {
  transform: scale(0.98);
}

.confirmgrade {
  position: absolute;
  width: 350px;
  height: 180px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background-color: #fff;
  border-radius: 5%;
}

.confirmgrade_h1 {
  font-size: 24px;
  color: #302a92;
  margin: 5% auto;
  text-align: center;
}

.confirmgrade_btn {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #302a92;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  width: 24%;
  height: 45px;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 5%;
}

.confirmgrade_btn:hover {
  transform: scale(0.98);
}


.flex-container-gradedisplay {
  height: 385px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
  position: relative;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 0px;
}

.flex-container-gradetitle {
  display: flex;
  height: 50px;
  padding: 0px 30px;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  position: relative;
  justify-content: flex-start;
  row-gap: 0px;
}

.flex-container-gradeitems {
  height: 365px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px 30px;
  overflow: auto;
  position: relative;
  justify-content: flex-start;
  row-gap: 0px;
}

/* Based on  https://jsfiddle.net/hP3wu/12/ from answer posted in a Stackoverflow question: 
https://stackoverflow.com/questions/17044284/css-faded-section-at-top-of-scrolling-div*/
.flex-container-grades-fadetop {
  content:'';
  margin-top: -365px;
  height: 20px;
  background: linear-gradient(to bottom, rgb(204, 32, 32) 0%, rgba(251, 251, 251, 0) 100%);
  position: relative;
}

.flex-container-grades-fadebottom {
  content:'';
  margin-top: -20px;
  height: 20px;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(251, 251, 251, 0) 100%);
  position: relative;
}

.bottom-buttons {
  padding-top: 45px;
}

/* Modal element based on https://codepen.io/denic/pen/ZEbKgPp (by Marko Denic) */
.addgrade-modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}
  
.addgrade-modal:target {
  visibility: visible;
  opacity: 1;
}
  
.addgrade-modal-content {
  border-radius: 20px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
}

.addgrade-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #585858;
  text-decoration: none;
  font-size: 200%;
}

.addgrade-a {
  color:#302a92;
  font-weight: 600;
  font-size: x-large;
}

.grade-form {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.hide {
  display: none;
  visibility: hidden;
}