@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

.login-h3 {
  font-size: medium;
  font-weight: 10;
  text-align: center;
  padding-top: 10px;
}

.container {
  background-color: rgba(108,99,255,0.33);
  width: 100vw;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 50px 50px;
  text-align: center;
}

.loginbg {
  margin: auto;
  background: linear-gradient(90deg, #ffffff 50%, #6C63FF 50%);
  height: 500px;
  width: 1000px;
  border-radius: 50px;
}

.login-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 90px 0px 0px 300px;
}

.login-form,
.content {
  width: 90%;
  margin: auto;
  padding: 0px 0px 0px 500px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.signup {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 550px;
  margin-right: 50px;
  border-top: 1px solid #fff;
  padding: 0;
}

.signup a {
  color: #ffffff;
  text-decoration: underline;
  padding-left: 5px;
}

.signup a:hover {
  color: #302a92 !important;
}

.login-btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #302a92;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.login-btn-reverse {
  background: #fff;
  color: #000;
}

.login-btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.login-btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.loginimg {
  background-image: url(../images/undraw_road_to_knowledge_m8s0.png);
  display: block;
  position: absolute;
  width: 450px;
  margin-top: 120px;
  margin-left: 30px;
}