.rewardsbg {
    margin: 0 0 0 20px;
    background-color: #ffffff;
    height: 550px;
    width: 1100px;
    border-radius: 30px;
}

.construction {
  background-image: url(../images/undraw_under_construction_46pa.png);
  display: block;
  position: fixed;
  width: 550px;
  margin-top: 70px;
  margin-left: 270px;
}

.constructiontitle {
    font-size: 40px;
    font-weight: 600;
    margin-top: 400px;
    margin-left: -220px;
    position: fixed;
}